@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de Veiculos e Proprietrios";
}


<div class="jumbotron">
    <h1>FACULDADES REGES</h1>
    <h2>Trabalho de SISTEMAS WEB-II - Segundo Bimestre</h2>
</div>
